<!-- <div class="container">
  <mat-card>
    <div class="card-heading">
      Layout Children with 'layout-align'
    </div>
    <div class="card-box">
      <div class="card-box-contet">

      </div>
    </div>
    <div class="mat-card-action" fxLayout="row" fxLayoutAlign="space-around">
        <mat-radio-group aria-labelledby="example-radio-group-label" [(ngModel)]="selected_direction">
          <div >Layout Direction</div>
          <mat-radio-button *ngFor="let dir of direction">
            [value]="dir"
          </mat-radio-button>
        </mat-radio-group>
        <!-- <div class="radio-button" fxLayout="column" fxLayoutAlign="center start">
          <label *ngFor="let radiobutton of direction"  >
            <input type="radio" name="options" value="row" (click)="model.option = radiobutton" [value]="radiobutton"
            [checked]="radiobutton === model.option">{{radiobutton}}
          </label>
        </div>
        
      </div>
      <div>
        Alignment in Layout direction(Vertical)
        <!-- <div class="radio-button" fxLayout="column" fxLayoutAlign="center start">
          <label *ngFor="let radiobuttonv of vertical_direction"  >
            <input type="radio" name="options" value="row" (click)="model.option = radiobuttonv" [value]="radiobuttonv"
            [checked]="radiobuttonv === model.option">{{radiobuttonv}}
          </label>
        </div>
      </div>
      <div>
        Alignment in Layout direction(Horizontal)
        <!-- <div class="radio-button" fxLayout="column" fxLayoutAlign="center start">
          <label *ngFor="let radiobuttonh of horizontal_direction"  >
            <input type="radio" name="options" value="row" (click)="model.option = radiobuttonh" [value]="radiobuttonh"
            [checked]="radiobuttonh === model.option">{{radiobuttonh}}
          </label>
        </div>
      </div>
    <div class="card-hint">
      < div fxLayout="  "   fxLayoutAlign=" " > 
    </div>
  </mat-card>
</div> -->

<div style="padding:16px">
  <mat-card class="container">
    <div class="title">
      Layout Children with 'layout-align'
    </div>
    <div>
      <div class="content" [fxLayout]="options.direction" [fxLayoutAlign]="options.horizontal_direction+' '+ options.vertical_direction">
        <div class="block" [ngClass]="options.direction == 'row' ? 'rows-box1' : 'col-box1'">1</div>      
        <div class="block" [ngClass]="options.direction == 'row' ? 'rows-box2' : 'col-box2'">2</div>
        <div class="block" [ngClass]="options.direction == 'row' ? 'rows-box3' : 'col-box3'">3</div>
        <div class="block" [ngClass]="options.direction == 'row' ? 'rows-box4' : 'col-box4'">4</div>
        <div class="block" [ngClass]="options.direction == 'row' ? 'rows-box5' : 'col-box5'">5</div>
      </div>
      <div class="action" fxLayout="row" fxLayoutAlign="space-around start">
        <div>
          <div>
            Layout Direction
          </div>
          <mat-radio-group [(ngModel)]="options.direction" name="direction" fxLayout="column">
            <mat-radio-button value="row">row</mat-radio-button>
            <mat-radio-button value="column">column</mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <div>
            Alignment in Layout direction
          </div>
          <mat-radio-group [(ngModel)]="options.horizontal_direction" name="horizontal_direction" fxLayout="column">
            <mat-radio-button value="">none</mat-radio-button>
            <mat-radio-button value="start">start (default)</mat-radio-button>
            <mat-radio-button value="center">center</mat-radio-button>
            <mat-radio-button value="end">end</mat-radio-button>
            <mat-radio-button value="space-around">space-around</mat-radio-button>
            <mat-radio-button value="space-between">space-between</mat-radio-button>
            <mat-radio-button value="space-evenly">space-evenly</mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <div>Alignment in Perpendicular Direction</div>
          <mat-radio-group [(ngModel)]="options.vertical_direction" name="vertical_direction" fxLayout="column">
            <mat-radio-button value="none">none</mat-radio-button>
            <mat-radio-button value="start">start (default)</mat-radio-button>
            <mat-radio-button value="center">center</mat-radio-button>
            <mat-radio-button value="end">end</mat-radio-button>
            <mat-radio-button value="stretch">stretch</mat-radio-button>
          </mat-radio-group>
        </div>
    
      </div>
    </div>
 
    
    <div class="footer" fxLayout="row" fxLayoutAlign="space-around start">
      <div class="hint">
        &lt;div fxLayout="{{ options.direction }}"
        <span style="padding-left: 30px">fxLayoutAlign="{{options.horizontal_direction}}  {{options.vertical_direction}}"</span>
        &gt;
      </div>
    </div>
  </mat-card>
</div>

<div>
  <mat-card class="container1">
    <div>
      <div style="font: 24px Roboto,sans-serif; margin-bottom: 8px; font-weight: 500;">
        'Flex to Fill Row'
      </div>
    </div>
  </mat-card>
</div>
